
<h1>{{ name }}</h1>

<table class="table">
    <tr>
        <th>Index Position</th>
        <th>Even/Odd</th>
        <th>Number</th>
        <th>Type</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Select Room</th>
    </tr>
    <tbody>
        <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let r of rooms; let e = even; let o = odd; let i = index ">
            <td>{{ i }}</td>
            <td>{{ e ? "Even" : "Odd" }}</td>
            <td>{{ r.roomNumber }}</td>  
            <td>{{ r.roomType | uppercase }}</td>  
            <td>{{ r.price | currency : 'GBP'}}</td>  
            <td>{{ r.photo }}</td>  
            <td>{{ r.checkInTime | date }}</td>  
            <td>{{ r.checkOutTime | date : 'mediumDate' }}</td>  
            <td>
                <button class="btn btn-primary" (click)="displaySelectedRoom(r)">
                    Select
                </button>
            </td>
        </tr>
    </tbody>
</table>