<div class="main">



<h1>{{title}}</h1>   

<div [ngSwitch]="role" >
    <div *ngSwitchCase="'Admin'">
        <h2>You have logged in as an Admin!!</h2>
    </div>
    <div *ngSwitchCase="'User'">
        <h2>You have logged in as a User.</h2>
    </div>
    <div *ngSwitchDefault>
        <h2>YOU ARE NOT AUTHORISED!!</h2>
    </div>
</div>

<div>
    <app-rooms></app-rooms>

    <!-- The Below Table is displayed DYNAMICALLY by using ng-template && @ViewChild -->
    <!-- <ng-template #user>
            <app-rooms></app-rooms>

    </ng-template> -->


    <!-- The Below Heading is displayed DYNAMICALLY by using ng-template && @ViewChild  -->
    <div #name>
            <!-- <h2>DYNAMICALLY</h2> -->
    </div>

</div>


<router-outlet></router-outlet>

</div>