<div class="container">


<h1>
    <!-- Interpolation -->
    Welcome to {{ hotelName }} !!
</h1>

<!-- Property Binding -->
<div [hidden]="hideDetails" >
    No of Rooms  <p [innerText]="noOfRooms"></p> 
</div>

<!-- Event Binding -->
<button (click)="hideRooms()" >Hide Rooms</button>

<!-- Directives -->


<div *ngIf="rooms?.availableRooms">
    <p> Available -> {{ rooms.availableRooms }}</p>
    <p> Total -> {{ rooms.totalRooms }}</p>
    <p> Booked -> {{ rooms.bookedRooms }}</p>
</div>

<div *ngIf="roomList">

    <!-- @Input is used to send roomList data to rooms in the rooms-list component -->
    <app-rooms-list [rooms]="roomList" ></app-rooms-list>
    
</div>


<!-- We can also do optinal chaining here -->
<!-- {{ rooms.availableRooms??"No Rooms"}} -->

</div>
